.login-background {
    min-height: 100vh; /* Fixed typo: '00vh' -> '100vh' */
    display: flex;
    justify-content: center;    
    align-items: center;
    background: linear-gradient(
        rgba(187, 165, 165, 0.308),
        rgba(184, 161, 161, 0.5)
    ),
    url("../../assets/loginimage.jpg");
    background-size: cover;
    background-position: center;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 480px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 2rem;
}
